@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input::-webkit-outer-spin-button input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1771c6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5f5f5b0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #32ae7e;
}

.ql-editor.ql-blank::before {
  color: #fff !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  color: rgb(var(--foreground-rgb));
}

.hero_animation {
  background-image: linear-gradient(147.92deg, hsla(239, 76%, 53%, 0.456) 10.41%, hsla(0, 0%, 100%, 0) 89.25%);
  animation: changeBackgroundColor 8s infinite alternate
}

@keyframes changeBackgroundColor {

  0%,
  100% {
    opacity: 1;
  }

  16.67% {
    opacity: 0.9;
  }

  33.33% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.6;
  }

  66.67% {
    opacity: 0.5;
  }

  83.33% {
    opacity: 0.4;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-2px);
  }

  40% {
    transform: translateX(2px);
  }

  60% {
    transform: translateX(-2px);
  }

  80% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out
}


/* Testimonal Styling */

.testimonial .slick-arrow.slick-prev,
.testimonial .slick-arrow.slick-next {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 50%;
}

.testimonial {
  display: flex;
  justify-content: center;
  background: antiquewhite;
  width: 60%;
  padding: 60px;
  margin: 20px auto;
  border-radius: 50px;
  min-width: 80%;
}

.main {
  padding: 20px 60px;
}

/* Cards */

.Client-Card {
  color: gray !important;
  align-items: center !important;
  flex-direction: column !important;
  text-align: center !important;
}

.avatar {
  width: 120px !important;
  height: 120px !important;
  border: 3px solid #994d47;
  padding: 3px;
  border-radius: 50%;
}

.Name {
  font-size: 20px;
  font-weight: bolder;
  color: #994d47;
}

.heading {
  text-align: center;
  font-family: "Roboto";
  color: #994d47;
  font-size: 40px;
}

.designation {
  color: #994d47;
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
}

/* Slick Slider  */
.slick-prev::before,
.slick-next::before {
  display: none;
}

.slick-slider {
  padding: 25px !important;
  border-radius: 15px !important;
  box-shadow: 1px 2px 8px 2px #fff !important;
  min-width: auto;
}

/* Customization of Slider Navigations*/

.ft-slick__dots--custom {
  height: 8px;
  width: 14px;
  background-color: #ad6f69;
  border-radius: 4px;
  position: relative;
}

.slick-dots li {
  width: 20px;
  height: 0px;
  margin: 10px -10px;
  transition: width 0.3s ease-in-out;
}

.slick-dots .slick-active .ft-slick__dots--custom {
  width: 20px;
  top: 0px;
  overflow: hidden;
  background: #994d47;
  margin-top: 26px;
}

div.rdtPicker{
  background-color: #0f1421;
}

td.rdtDay:hover{
  color: #000
}

td.rdtTimeToggle:hover{
  color: #000
}

@layer components {
  .nav__link {
    @apply relative text-xl w-fit block after:block after:content-[""] font-semibold after:absolute after:h-[3px] after:bg-yellow-400 text-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-right
  }

  .button__cls {
    @apply md:px-12 md:py-2.5 px-6 py-1.5 text-white font-semibold text-sm md:text-lg transition-all duration-200 rounded-lg
  }

  .footer__heading {
    @apply text-lg text-[#000000] dark:text-white font-bold mb-4
  }

  .footer__link {
    @apply text-sm text-[#000000] text-opacity-50 dark:text-white hover:text-green-700 dark:text-opacity-60 mb-3 w-fit
  }

  .footer__span {
    @apply text-[#000000] dark:text-white hover:text-white
  }
}